@import "tailwindcss";

@theme {
  --color-brand-blue: #3B82F6;
  --color-brand-green: #10B981;
  --color-surface: #F8FAFC;
}

@layer base {
  body {
    @apply bg-surface text-slate-900 font-sans;
  }
}